{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login">
    {% comment %} <div class="header">
        <h1>Login</h1>

    </div> {% endcomment %}

    <div class="text-center mt-4 name">
        Login
    </div>

    <form method="POST" action="" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {% comment %} <td>Username: </td> {% endcomment %}
            <input type="text" name="username" placeholder="Username" class="form-control flex">
        </div>
        <div class="form-field d-flex align-items-center">     
            {% comment %} <td>Password: </td> {% endcomment %}
            <span class="fas fa-key"></span>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <input class="btn login_btn mt-3" type="submit" value="Login">
            </tr>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <div class="text-center fs-6">
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    </div>
</div>


{% endblock content %}