{% extends 'base.html' %}
 {% block content %}

<div class="header">
    <h1> Hello, {{user}} </h1>
</div>

<div class="todolist">
    <table class="listtable">
        <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        {% for task in todolist %}
        <tbody>
            <tr>
                <th>{{task.title}}</th>
                <th>{{task.description}}</th>
                <th>{{task.date}}</th>
            </tr>
        </tbody>    
        {% endfor %}
    </table>
</div>

<p><a href="{% url 'todolist:create_task' %}">Create Task</a></p>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}
