<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'base.html' %}
 {% block content %}
<div class="todolist-container">
    
    <div class="header">
        <h1>{{user}}'s to do list </h1>
    </div>

    <div class="todolist">
        <table class="listtable">
            <thead>
                <tr>
                    <th>Completed</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for task in todolist %}
            <tbody>
                <tr>
                    <th>
                        <input class='todolist-check' 
                                type="checkbox" 
                                id='{{task.id}}' 
                                value= '{{task.ud}'
                                name="finishbtn"
                                {% if task.is_finished %} checked {% endif %}
                                onchange="location.href='{% url 'todolist:mark_as_finished' task.id %}'"  
                        />                  
                        <!-- <span class="checkmark"></span> -->
                    </th>
                    <th>{{task.title}}</th>
                    <th>{{task.description}}</th>
                    <th>{{task.date}}</th>
                    {% if task.is_finished == True %}
                        <td style="text-align: center; color: greenyellow">Completed</td>
                    {% else %}
                        <td style="text-align: center; color: red">Unfinished</td>
                    {% endif %}
                    <th>
                        <button class="btn" ><a href="{% url 'todolist:delete' task.id %}"><i class="fa fa-trash"></i></a></button>
                    </th>

                </tr>
            </tbody>
            
            {% endfor %}
        </table>
    </div>

    <p><a href="{% url 'todolist:create_task' %}">Create Task</a></p>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>

{% endblock content %}
