{% extends 'base.html' %}
 {% block content %}


<h4> Hello, {{user}} </h4>
<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
<table>
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Created</th>
    </tr>
    {% for task in todolist %}
        <tr>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            <th>{{task.date}}</th>
        </tr>
    {% endfor %}
</table>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}
