@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
  }

  /* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

  body {
    background-color: #edf7f6;
    padding-top: 50px;
  }

  h1,
  h3,
  h4
      {
      font-family: 'Arvo', serif;
      color: #434643;
      text-align: center;
  }

  .todolist-container {
          max-width: 900px;
          margin: auto;
          background-color: #fff;
          -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
          box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
          text-align: center;
  }
  
  
  .login {
    /* max-width: 350px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    text-align: center;
    align-items: center; */
      max-width: 350px;
      min-height: 500px;
      margin: 80px auto;
      padding: 40px 30px 30px 30px;
      background-color: #ecf0f3;
      border-radius: 15px;
      box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    
  }

  .login .name{
          font-weight: 600;
          font-size: 1.4rem;
          letter-spacing: 1.3px;
          padding-left: 10px;
          color: #555;
  }

  .login .form-field input {
      width: 100%;
      display: block;
      border: none;
      outline: none;
      background: none;
      font-size: 1.2rem;
      color: #666;
      padding: 10px 15px 10px 10px;
      /* border: 1px solid red; */
  }

  .login .form-field {
      padding-left: 10px;
      margin-bottom: 20px;
      border-radius: 20px;
      box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  }
  
  .login .form-field .fas {
      color: rgb(208, 197, 197);
  }

  .login .btn {
      box-shadow: none;
      width: 100%;
      height: 40px;
      background-color: #263b23;
      color: #fff;
      border-radius: 25px;
      box-shadow: 3px 3px 3px #b1b1b1,
          -3px -3px 3px #fff;
      letter-spacing: 1.3px;
  }

  .todolist-container .btn{
          box-shadow: none;
          width: 20%;
          height: 25px;
          background-color: #6c7c6b;
          color: #fff;
          border-radius: 25px;
          box-shadow: 3px 3px 3px #b1b1b1,
              -3px -3px 3px #fff;
          letter-spacing: 1.3px;
          margin-bottom: 10; 
  }
  
  .login .btn:hover {
      background-color: #dae1e4;
      ;
  }

  .login a {
      text-decoration: none;
      font-size: 0.8rem;
      color: #03A9F4;
  }
  
  .login a:hover {
      color: #039BE5;
  }

  .todolist-container .btn-logout{
      box-shadow: none;
      width: 40%;
      height: 40px;
      background-color: #c2cdc1;
      color: #fff;
      border-radius: 25px;
      box-shadow: 3px 3px 3px #b1b1b1,
          -3px -3px 3px #fff;
      letter-spacing: 1.3px;
      margin: 10;
  }

  .todolist-container .btn:hover {
      background-color: #dae1e4;
      ;
  }

  .todolist-container .btn-logout:hover {
      background-color: #dae1e4;
      ;
  }

  .todolist-container a {
      text-decoration: none;
      font-size: 0.8rem;
      color: #03A9F4;
  }

  

  .createtask-container{
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    text-align: center;
    resize: auto;
  }

  .createtask-container .form-container{
      resize: auto;
  }

  .register-container {
    max-width: 750px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    text-align: center;
  }

  .createtask-container .btn{
      box-shadow: none;
      width: 60%;
      height: 40px;
      background-color: #f7faf7;
      color: rgb(12, 11, 11);
      border-radius: 25px;
      /* box-shadow: 3px 3px 3px #b1b1b1,
          -3px -3px 3px #fff; */
      letter-spacing: 1.5px;
      margin-bottom: 10;
      margin-top: 100; 
      font-size: 15px;   
  }

  .register-container .btn:hover {
      background-color: #dae1e4;
      ;
  }


  .createtask-container .form-container .form-apa .p{
      min-width: 0;
      max-width: fit-content;
  }

  .register-container .btn{
      box-shadow: none;
      width: 50%;
      height: 50px;
      background-color: #6c7c6b;
      color: #fff;
      border-radius: 25px;
      box-shadow: 3px 3px 3px #b1b1b1,
          -3px -3px 3px #fff;
      letter-spacing: 1.3px;
      margin-bottom: 10; 
  }
  

  .header {
          display: flex;
          justify-content: space-between;
          color: #fff;
          padding: 10px;
          border-radius: 5px 5px 0 0;
          background: linear-gradient(90deg, #d6eec8 0%, #97cc7c 43%, #6d9c63 100%);
  }
  .header-register{
      background: linear-gradient(90deg, #d6eec8 0%, #97cc7c 43%, #6d9c63 100%);
      width: 100%;
      padding: 10px;
      border-radius: 5px 5px 0 0;
  }

 
  .listtable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .listtable thead tr {
    background-color: #8cbcb2;
    color: #ffffff;
    text-align: left;
  }

  .listtable th, td{
    padding: 12px 15px;
  }

  .listtable tbody tr {
  border-bottom: 1px solid #dddddd;
  }

  .listtable tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }

  button{
    background-color: #d6eec8;
    border-color: #d6eec8;
  }

  /* input{
    background-color: #d6eec8;
    outline: none;
    border: none;
  } */

  .input{
      width: 100%;
      display: block;
      border: none;
      outline: none;
      background: none;
      font-size: 1.2rem;
      color: #666;
      padding: 10px 15px 10px 10px;
      padding-left: 10px;
  }
  

  input.form-control{
      width: auto;
  }

  .btn {
    background-color: white; 
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  .btn:hover {
    background-color: #d6eec8;
  }

  .card{
      border-radius: 8px;
      border: 1px solid #cccccc;
      display:flex;        
      align-items: center;
      justify-content: center;
      padding: 5px;
      box-sizing: border-box;
      width: 200px;
      height: 200px;
      transition: all linear 200ms;
    }
    .card:hover{
      transform: scale(1.1);
      transition: all linear 200ms;
      z-index: 1;
      box-shadow: 1px 1px 10px rgba(0,0,0,.3);
      cursor: pointer;
    }

    .container{
      margin-top: 10;
      margin-bottom: 10;

    }
  
  